
body.example-body {
  background: #333;
}

button {
  display: block;
  margin: auto;
  width: 100px;
  font-size: 20px;

  border-radius: 4px;
  background-color: #fafafa;
  cursor: pointer;
}

[ng-controller] {
  display: inline-block;
  vertical-align: top;

  margin: 0 30px;
  padding: 20px;
}

.group {
  background: #666;
  width: 220px
}

h3 {
  text-align: center;
}
